<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="edu.xmu.dataAnalysis.explorer.category"
            name="NMR ">
      </category>
      <view
            allowMultiple="false"
            category="edu.xmu.dataAnalysis.explorer.category"
            class="edu.xmu.dataanalysis.explorer.view.NMRExplorer"
            id="edu.xmu.dataAnalysis.explorer.view"
            name="Nmr Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="edu.xmu.dataAnalysis.explorer.view">
      </viewer>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="edu.xmu.dataAnalysis.explorer.view">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="edu.xmu.dataAnalysis.explorer.navigatorContent.dataimport">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="edu.xmu.dataAnalysis.explorer.view">
         <includes>
            <actionExtension
                  pattern="edu.xmu.dataanalysis.explorer.model.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="edu.xmu.dataanalysis.explorer.model.ExplorerContentProvider"
            id="edu.xmu.dataAnalysis.explorer.navigatorContent.dataimport"
            labelProvider="edu.xmu.dataanalysis.explorer.model.ExplorerLabelProvider"
            name="Data Import Navigator Content"
            priority="normal">
         <triggerPoints>
            <or>
               <instanceof
                     value="edu.xmu.nmr.dataanalysis.logic.explorermodel.FidNode">
               </instanceof>
               <instanceof
                     value="edu.xmu.nmr.dataanalysis.logic.explorermodel.FolderNode">
               </instanceof>
               <instanceof
                     value="edu.xmu.nmr.dataanalysis.logic.explorermodel.ParamtersNode">
               </instanceof>
               <instanceof
                     value="edu.xmu.nmr.dataanalysis.logic.explorermodel.VersionNode">
               </instanceof>
               <instanceof
                     value="edu.xmu.nmr.dataanalysis.logic.explorermodel.DotNMRNode">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="edu.xmu.nmr.dataanalysis.logic.explorermodel.AbstractDataNode">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:edu.xmu.dataAnalysis.explorer.view?after=additions">
         <command
               commandId="org.eclipse.ui.file.import"
               id="file.import"
               label="Import"
               mnemonic="I"
               style="push">
         </command>
         <separator
               name="edu.xmu.nmr.dataAnalysis.explorer.separator1"
               visible="true">
         </separator>
         <command
               commandId="edu.xmu.nmr.dataAnalysis.explorer.commands.delete"
               id="menu.delete"
               label="Delete"
               style="push">
         </command>
         <command
               commandId="edu.xmu.nmr.dataAnalysis.explorer.commands.clear"
               id="menu.clear"
               label="Clear"
               style="push">
         </command>
         <separator
               name="edu.xmu.nmr.dataAnalysis.explorer.separator2"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="edu.xmu.nmr.dataAnalysis.explorer.commands.delete"
            name="Delete">
      </command>
      <command
            id="edu.xmu.nmr.dataAnalysis.explorer.commands.clear"
            name="Clear">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.xmu.dataanalysis.explorer.handlers.DeleteHandler"
            commandId="edu.xmu.nmr.dataAnalysis.explorer.commands.delete">
         <enabledWhen>
            <reference
                  definitionId="definition.delete.selection">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="edu.xmu.dataanalysis.explorer.handlers.ClearHandler"
            commandId="edu.xmu.nmr.dataAnalysis.explorer.commands.clear">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="definition.delete.selection">
         <with
               variable="org.eclipse.ui.selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <or>
                  <instanceof
                        value="edu.xmu.nmr.dataanalysis.logic.explorermodel.DotNMRNode">
                  </instanceof>
                  <instanceof
                        value="edu.xmu.nmr.dataanalysis.logic.explorermodel.VersionNode">
                  </instanceof>
                  <instanceof
                        value="edu.xmu.nmr.dataanalysis.logic.explorermodel.FolderNode">
                  </instanceof>
               </or>
            </iterate>
         </with>
      </definition>
   </extension>

</plugin>
